<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      {{ message }}
      <div>
        <span v-if="seen">Now you see me</span>
        <p>see the text?<input type="text" v-model="message"></p>
        <p><button v-on:click="changeMessage()">klicka här</button></p>
      </div>
      <p v-if="showInfo">This shows some info</p>
      <button v-on:click="toggleInfo()">Toggle the info</button>
      <!-- <p> <input type="" v-model="newFruit"><button> v-on:click=add fruit"</button></p> -->
      <div>
        <ol>
          <li v-for="todo in todos">
            {{ todo.text }}
          </li>
        </ol>
      </div>
    </div>
  </body>
</html>